@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  width: 36px;
  height: 36px;
  border: 8px solid #ccc;
  border-top-color: #1454f5c8;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}